body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f2f2f2;
}

.container {
    margin-top: 50px;
}

.gift {
    font-size: 50px;
    cursor: pointer;
    margin: 20px auto;
}

img {
    width: 200px; /* Ukuran gambar hadiah */
    margin-top: 20px;
}

p {
    font-size: 18px;
    margin-top: 10px;
}
